{% extends "core/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="auth">
    <div class="container">
		<div class="auth__wrapper">
			<div class="reset__wrapper">
				<h1 class="title auth__title">{% trans "Check Your Email" %}</h1>
				<p>{% trans "We've sent you an email with a link to reset your password." %}</p>

				<div class="auth__notice">
					{% trans "If you don't receive an email within a few minutes, please check your spam folder or try again." %}
				</div>
				<a href="{% url 'account_login' %}" class="auth__btn button">{% trans "Back to Sign In" %}</a>
			</div>
		</div>
    </div>
</div>
{% endblock %}
