{% extends "core/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="auth">
    <div class="container">
        <div class="auth__wrapper">
			<div class="reset__wrapper">
				<h1 class="title auth__title">{% trans "Password Reset Successful" %}</h1>
				<p>{% trans "Your password has been successfully reset. You can now sign in with your new password." %}</p>

				<a href="{% url 'account_login' %}" class="auth__btn button">{% trans "Sign In" %}</a>
			</div>
            
        </div>
    </div>
</div>
{% endblock %}
