{% extends "core/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="auth">
    <div class="container">
        <div class="auth__wrapper">
            <h1 class="title auth__title">{% trans "Reset your password" %}</h1>
            <p>{% trans "Enter your email address and we'll send you a link to reset your password." %}</p>

            <form method="post" class="auth__form" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                {% for field in form %}
                    <div class="auth__field fl-label">
                        {{ field }}
                        <label for="{{ field.id_for_label }}" class="auth__label">{{ field.label }}</label>
                        {% if field.errors %}
                            <div class="auth__error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="auth__btn button">
                    {% trans "Send Reset Link" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
