{% load static %}
{% load i18n %}

{% block extracss %}\
<link rel="stylesheet" href="{% static 'core/css/menu.css' %}">
<link rel="stylesheet" href="{% static 'core/css/header.css' %}">
{% endblock extracss %}


<div class="subheader">
    <div class="container">
		<div class="social">
			<a target="_blank" href="https://www.instagram.com/tmt_consulting_group/" class="social__item"><i class="lni lni-instagram"></i></a>
			<a target="_blank" href="https://www.facebook.com/profile.php?id=61572642102689&locale=ru_RU" class="social__item"><i class="lni lni-facebook"></i></a>
			<a target="_blank" href="https://www.linkedin.com/company/tmt-consulting-group" class="social__item"><i class="lni lni-linkedin"></i></a>
		</div>
        <div class="language">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">

                {% get_current_language as CURRENT_LANGUAGE %}
                {% get_available_languages as LANGUAGES %}

                {% for lang in LANGUAGES %}
                    <button
                        type="submit"
                        name="language"
                        value="{{ lang.0 }}"
                        class="language__item {% if lang.0 == CURRENT_LANGUAGE %}active{% endif %}">
                        {{ lang.0|upper }}
                    </button>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


{% with url_name=request.resolver_match.url_name %}
<header class="header {% if url_name == 'index' %}header--transparent{% endif %}">
{% endwith %}
	<div class="container">
		<div class="header__wrapper">
			<div class="logo"><a href={% url "core:index" %}><img class="lazy-image" data-src='{% static 'img/logo.png' %}'  alt="IFT2026" ></a></div>
			{% include "core/components/menu.html" %}
			<div class="header__buttons">
				{% if user.is_authenticated %}
				<div class="header__user" id="userMenu">
					<button class="header__avatar-btn" type="button" id="userMenuBtn">
						{% if user.profile.photo %}
							<img src="{{ user.profile.photo.url }}" class="header__avatar-img">
						{% else %}
							<span class="header__avatar-fallback">
								{{ user.first_name|default:user.username|slice:":1"|upper }}
							</span>
						{% endif %}
					</button>
					
					<div class="header__dropdown" id="userDropdown">
						<div class="header__dropdown-user">
							<strong>
								{% if user.profile.first_name or user.profile.last_name %}
									{{ user.profile.first_name }} {{ user.profile.last_name }}
								{% else %}
									{{ user.username }}
								{% endif %}
							</strong>
							{% comment %} <small>{{ user.email }}</small> {% endcomment %}
						</div>

						<a href="{% url 'accounts:profile' %}" class="dropdown__item">{% trans "Profile" %} </a>
						<a href="{% url 'account_reset_password' %}" class="dropdown__item">{% trans "Reset password" %} </a>

						<form method="post" action="{% url 'account_logout' %}" class="menu__item">
							{% csrf_token %}
							<button type="submit">{% trans "Log out" %} </button>
						</form>
					</div>
				</div>


				{% else %}
				<a href="{% url 'account_login' %}" class="button">{% trans "Log in" %}</a>
				<a href="{% url 'account_signup' %}" class="button">{% trans "Sign up" %}</a>
				{% endif %}
			</div>
		</div>
	</div>
</header>

{% block extra_js %}
<script type="module" src="{% static 'core/js/header.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const header = document.querySelector('.header');
    if (!header || !header.classList.contains('header--transparent')) return;

    window.addEventListener('scroll', () => {
        header.classList.toggle('header--scrolled', window.scrollY > 30);
    });
});
</script>
{% endblock extra_js %}