.intro{
	padding: 4rem;
	min-height: 20vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.intro__title{
	
	color: #fff;
}

.about{
	padding: 4rem 0;
}

.about__wrapper{
	display: flex;
	gap: 4rem;
}
.about__left{
	width: 27vw;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-right: 1px solid var(--color-secondary);
}

.about__right{
	width: 73vw;
	padding-left: 4rem;
}

.about__item{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.about__point{
	color: var(--color-primary);
}

.about__text{
	color: var(--color-secondary);
}


/* BASE: Desktop 1440+ */

/* <= 1400px */
@media (max-width: 1399px) {}

/* <= 1200px */
@media (max-width: 1199px) {}

/* <= 992px */
@media (max-width: 991px) {}

/* <= 768px */
@media (max-width: 767px) {}

/* <= 576px */
@media (max-width: 575px) {
	.about__wrapper{
		flex-direction: column;
	}
	.about__left{
		flex-direction: row;
		border-right: none;
		justify-content: space-between;
		width: 100%;
		gap: 2rem;
		border-bottom: 1px solid var(--color-secondary);
		padding-bottom: 2rem;
	}
	.about__right{
		width: 100%;
		text-align: justify;
		padding: 0;
	}
}

