.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 20px;
	margin-top: 10rem;
}

.gallery__item {
    display: block;
    overflow: hidden;
    border-radius: 12px;
}

.gallery__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery__item:hover .gallery__img {
    transform: scale(1.05);
}
