.registration-counter {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    font-family: 'Segoe UI', sans-serif;
	margin-top: 4rem;
}

.counter-item {
    background: rgba(255, 255, 255, 0.15); /* полупрозрачный белый */
    backdrop-filter: blur(10px); /* размытие заднего фона */
    -webkit-backdrop-filter: blur(10px); /* для Safari */
    border-radius: 15px;
    padding: 1.5rem 1rem;
    width: 100px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    transition: transform 0.3s ease;
}

.counter-item:hover {
    transform: translateY(-5px);
}

.counter-item span {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
}

.counter-item .label {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.8);
}