.header{
	/* background-color: rgba(var(--color-primary-rgb), .6); */
	position: fixed;
	background-color: var(--color-background);
	width: 100%;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
	min-height: 12rem;
	padding: var(--spacing-lg) 0;
	z-index: 999;
}

.header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 20rem;
	height: 100%;
}



.header__buttons{
	display: flex;
	align-items: center;
	gap: 2rem;
}

.login{
	background: none;
	color: var(--color-primary);
}



.header__user {
    position: relative;
}

.header__avatar-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header__avatar-img,
.header__avatar-fallback {
    width: 5rem;
    height: 5rem;
	border: 1px solid var(--color-body);
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.header__dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    width: 220px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.12);
    padding: 12px;
    display: none;
    z-index: 100;
}

.header__dropdown a,
.header__dropdown button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header__dropdown {
    display: none;
}

.header__dropdown.is-open {
    display: block;
}


.header__dropdown-user {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
	padding-left: 10px;

}

.header__dropdown button{
	font-size: var(--text-size);
	color: #616161;
}


.dropdown__item:hover{
	background-color: #e9eaed;
	
}
