.intro{
	height: 85vh;
	position: relative;
}

.intro__video{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: brightness(0.5);
}

.intro .container{
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.intro__title{
	color: var(--color-primary);
	font-size: 7rem;
	font-weight: 700;
}

.intro__subtitle{
	color: var(--color-light);
}

.intro__button{
	margin-top: 4rem;
	width: 24rem;
}


.about{
	padding: 8rem 0;
}

.about__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
}

.about__img{
	height: 60rem;
	display: flex;
}

.about__img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.about__content{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.about__descr{
	font-size: var(--text-large);
	width: 60%;
}

.about__btn{
	width: 20rem;
}


.about__tabs{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10rem;
	position: relative;
	width: 30rem;
	height: 80rem;
}

.about__tab{
	position: sticky;
	bottom: 4rem;
	display: flex;
	align-items: center;
	width: 20rem;
	transform: rotate(10deg);
	filter: drop-shadow(0 20px 30px rgba(0, 0, 0, .6));
}

.about__tab:nth-child(even){
	align-self: flex-end;
	transform: rotate(-10deg);
}

.about__tab img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 2rem;
}

