.main{
	padding-top: 0;
}

.intro{
	height: 100vh;
	position: relative;

}

.intro__video{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: brightness(0.8);
}

.intro .container{
	padding-top: 25rem;
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.intro__title{
	color: var(--color-primary);
	font-size: 7rem;
	font-weight: 700;
	text-align: center;
}

.intro__subtitle{
	color: var(--color-light);
}

.intro__buttons{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-wrap: wrap;
}

.intro__button{
	/* width: 20rem; */
	background: none;
  	color: var(--color-primary);
}

.intro__button:hover{
	background-color: var(--color-primary);
	color: var(--color-light);
}





.about{
	padding: 8rem 0;
}

.about__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6rem;
}

.about__img{
	height: 60rem;
	display: flex;
}

.about__img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.about__content{
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.about__descr{
	font-size: var(--text-large);
	text-align: justify;
}

.about__btn{
	width: 20rem;
}


.about__tabs{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10rem;
	position: relative;
	width: 30rem;
	height: 80rem;
}

.about__tab{
	position: sticky;
	bottom: 4rem;
	display: flex;
	align-items: center;
	width: 20rem;
	transform: rotate(10deg);
	filter: drop-shadow(0 20px 30px rgba(0, 0, 0, .6));
}

.about__tab:nth-child(even){
	align-self: flex-end;
	transform: rotate(-10deg);
}

.about__tab img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 2rem;
}



/* popup */
.popup-overlay {
	display: none; /* скрыто по умолчанию */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.popup-content {
	background: #fff;
	padding: 30px;
	border-radius: 8px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	position: relative;
}

.popup-close {
	position: absolute;
	top: 10px;
	right: 15px;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}






@media (max-width: 400px) {
	
}
/* ===== LARGE MOBILE ===== */
@media (max-width: 576px) {
	.about__wrapper{
		flex-direction: column;
	}
	.about__tabs{
		flex-direction: row;
		position: static;
		width: 100%;
		height: 100%;
	}
	.about__tab{
		position: static;
		filter: none;
		transform: none !important;
	}
	.partners__menu{
		width: 100% !important;
		padding-left: 1rem;
	}
	.partners__item{
		font-size: 1.2rem !important;
	}
	.partners__item span {
		padding: 2rem .5rem !important;
	}
}

@media (max-width: 1400px) {
	.intro__video{
		object-fit: none;
	}
}