.intro{
	height: 85vh;
	position: relative;
}

.intro__video{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: brightness(0.5);
}

.intro .container{
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.intro__title{
	color: var(--color-primary);
	font-size: 7rem;
	font-weight: 700;
}

.intro__subtitle{
	color: var(--color-light);
}

.intro__button{
	margin-top: 4rem;
	width: 24rem;
}