{% extends "core/base.html" %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
<link rel="stylesheet" href="{% static 'core/css/partners.css' %}">
<link rel="stylesheet" href="{% static 'core/css/stat.css' %}">
<link rel="stylesheet" href="{% static 'core/css/speakers.css' %}">
<link rel="stylesheet" href="{% static 'core/css/counter.css' %}">
<link rel="stylesheet" href="{% static 'core/css/sponsors.css' %}">
<link rel="stylesheet" href="{% static 'core/css/investment.css' %}">
<link rel="stylesheet" href="{% static 'core/css/sectors.css' %}">
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">

{% endblock extra_css %}

{% block meta_description %}
	{% trans "IFT2026 — Investment to the Future of Turkmenistan. International investment forum uniting investors, business and government." %} 
{% endblock %}

{% block meta_keywords %}
 	{% trans "investment forum, Turkmenistan investment, IFT2026, business forum, economy" %} 
{% endblock %}

{% block og_title %}
	{% trans "IFT2026 — Investment Forum" %} 
{% endblock %}

{% block og_description %}
{% endblock %}


{% block content %}
<section class="intro">
	<video class="intro__video" autoplay muted loop playsinline >
    	<source src="{{ intro.video.url }}" type="video/mp4">
	</video>

	<div class="container">
		<h1 class="intro__title">{% trans "IFT2026 Investment in the future of Turkmenistan" %} </h1>
		<p class="intro__subtitle">{% trans "18 March, Asghabat" %} </p>
		<div class="intro__buttons">
			{% if off_support %}
				<a href="{{ off_support.0.file.url }}" class="intro__button button" target="_blank">{% trans "Official support" %}</a>
			{% endif %}
			
			<a href="" class="intro__button button">{% trans "Agenda" %} </a>
			{% if brochures %}
				<a href="{{ brochures.0.file.url }}" class="intro__button button" target="_blank">
					{% trans "Brochure" %}
				</a>
			{% endif %}
			{% if travel_guides %}
				<a href="{{ travel_guides.0.file.url }}" class="intro__button button" target="_blank">
					{% trans "Travel Guide" %}
				</a>
			{% endif %}
			{% if meet_req %}
				<a href="{{ meet_req.0.file.url }}" class="intro__button button" target="_blank">
					{% trans "Meeting Request" %}
				</a>
			{% endif %}
			

			
		</div>

		<div class="registration-counter">
			<div class="counter-item">
				<span class="days">0</span>
				<div class="label">Days</div>
			</div>
			<div class="counter-item">
				<span class="hours">0</span>
				<div class="label">Hours</div>
			</div>
			<div class="counter-item">
				<span class="minutes">0</span>
				<div class="label">Minutes</div>
			</div>
			<div class="counter-item">
				<span class="seconds">0</span>
				<div class="label">Seconds</div>
			</div>
		</div>
	</div>
</section>

{% comment %} <section class="stat">
	<div class="container">
		<div class="stat__wrapper">
			<div class="stat__left">
				<h3 class="stat__title title">{% trans "Investing in the Future of Turkmenistan" %} </h3>
				<div class="stat__descr">{% trans "IFT is a platform where vision becomes action. By connecting capital, expertise, and ambition, we foster strategic investments, empower emerging sectors, and create new pathways for economic growth and long-term prosperity in Turkmenistan." %}</div>
				<a href="{% url "account_signup" %}" class="button stat__btn">{% trans "Become a Delegate" %}</a>
			</div>
			<div class="stat__box">
				
			</div>
			<div class="stat__right">
				<div class="stat__item">
					<div class="stat__info">500+</div>
					<div class="stat__name">{% trans "Delegates" %}</div>
				</div>
				<div class="stat__item">
					<div class="stat__info">21+</div>
					<div class="stat__name">{% trans "Memorandums Signed" %}</div>
				</div>
				<div class="stat__item">
					<div class="stat__info">6</div>
					<div class="stat__name">{% trans "Strategic Sectors" %}</div>
				</div>
				<div class="stat__item">
					<div class="stat__info">400+</div>
					<div class="stat__name">{% trans "Companies" %}</div>
				</div>
				<div class="stat__item">
					<div class="stat__info">187+</div>
					<div class="stat__name">{% trans "Business Meetings" %}</div>
				</div>
				<div class="stat__extra"><span>*</span>{% trans "Results of IFT 2025" %} </div>
			</div>
		</div>
	</div>
</section> {% endcomment %}

<section class="about">
	<div class="container">
		<div class="about__wrapper">
			<div class="about__img"><img src="{{ about.image.url }}" alt="ift 2026"></div>
			<div class="about__content">
				<h3 class="about__title title">{{ about.title }}</h3>
				<div class="about__descr">{{ about.description|safe }}</div>
				<a href="{% url "about:about" %}" class="button about__btn">{% trans "Details" %} </a>
			</div>
			<div class="about__tabs">
				{% for tab in tabs %}
				<div class="about__tab">
					<img src="{{ tab.img_optimized.url }}" alt="Tab Image">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


<section class="investment">
    <div class="container">
        <div class="investment__wrapper">

            {% for inv in investment %}
            <a href="{% if inv.file %}
                        {{ inv.file.url }}
                     {% elif inv.link %}
                        {{ inv.link }}
                     {% else %}
                        
                     {% endif %}"
               class="investment__item"
			   {% if inv.second_cover %}
				data-hover="{{ inv.second_cover.url }}"
			   {% endif %}
               {% if inv.cover %}
                   style="background-image: url('{{ inv.cover.url }}');"
               {% endif %}
               {% if inv.file %}
                   target="_blank"
               {% endif %}
            >
                <h4 class="investment__title">
                    {{ inv.name }}
                </h4>
            </a>
            {% endfor %}

        </div>
    </div>
</section>

{% if sectors %}
<section class="sectors">
	<div class="container">
		<h3 class="sectors__title title">{% trans "Themes of the forum" %}</h3>
		<div class="sectors__wrapper">
			{% for s in sectors %}
			<div class="sectors__item" style="background-image: url('{{ s.image.url }}');">
				<div class="sectors__name">{{ s.name}} </div>
				<div class="sectors__popup">
					<button class="sectors__close"><i class="lni lni-xmark"></i></button>
					<div class="sectors__descr">{{ s.description|safe }}</div>
				</div> 
			</div>
			
			{% endfor %}
			
		</div>
	</div>
</section>
{% endif %}




<section class="speakers">
	<div class="container">
		{% if speakers %}
			<h3 class="speakers__title title">{% trans "Speakers" %}</h3>

			<div class="speakers__wrapper">
				{% for sp in speakers %}
					<a href="#" class="speakers__item">
						<img src="{% if sp.photo %}{{ sp.photo_small.url }}{% else %}{% static 'img/noPhoto.jpg' %}{% endif %}" alt="{{ sp.name }}" class="speakers__img">
						<img src="{% if sp.logo %}{{ sp.logo.url }}{% else %}{% static 'img/earth.png' %}{% endif %}" alt="" class="speakers__logo">
						<div class="speakers__box">
							<div class="speakers__name">{{ sp.name }}</div>
							{% comment %} <div class="speakers__position">{{ sp.position }}</div>	 {% endcomment %}
						</div>
						{% comment %} <div class="speakers__session">{% if sp.session %}{{ sp.session }}{% endif %}</div> {% endcomment %}
					</a>
				{% endfor %}
			</div>
		{% endif %}

	</div>
</section>



<section class="sponsors">
    <div class="container">
		<div class="title">
			{% trans "Sponsors" %}
		</div>
		<div class="sponsors__wrapper">
			<div class="sponsors_list">
				{% for type in sponsor_types %}
						
							{% for sponsor in type.sponsors.all %}
								<a href="{{ sponsor.link }}" class="sponsors__item" target="_blank">
									<img src="{{ sponsor.logo.url }}"
										alt="{{ sponsor.name }}"
										class="sponsors__logo">
									<div class="sponsors__name">
										{{ sponsor.name }}
									</div>
									<div class="sponsors__type">{{type.name}}</div>
								</a>
								
							{% endfor %}
				{% endfor %}
			</div>
		</div>
    </div>
</section>



<section class="delegates" id="delegates">
    <div class="container">
        <h3 class="title">{% trans "Participants" %}</h3>

        <div class="delegates__slider swiper">
            <div class="swiper-wrapper">
                {% for item in catalog_entries %}
                    {% if item.img %}
                        <div class="swiper-slide delegates__slide">
                            <img class='delegates__img' src="{{ item.img.url }}" alt="Company Logo">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="swiper-button-prev delegates-prev"></div>
            <div class="swiper-button-next delegates-next"></div>
        </div>
    </div>
</section>




<section class="news">
	<div class="container">
		<div class="news__top">
			<div class="news__title title">{% trans "Latest News" %}</div>
			<div class="news__btn">
				<a href="{% url "news:news" %}" class="button">{% trans "More News" %}</a>
			</div>
			
		</div>
		
		<div class="news__wrapper">
			<div class="news__left">
				{% if latest_news %}
					{% for news in latest_news %}
						<div class="news__item">
							<a href="{% url 'news:detail' slug=news.slug %}" class="news__img">
								<img 
									src="{% if news.image %}{{ news.image_preview.url }}{% else %}{% static 'img/noPhoto.jpg' %}{% endif %}" 
									alt="{{ news.title }}" 
									loading="lazy">
							</a>
							<div class="news__name">
								<div class="news__date">{{ news.date }}</div>
								<a href="{% url 'news:detail' slug=news.slug %}">{{ news.title }}</a>
							</div>
							{% comment %} <div class="news__descr">
								{{ news.content|truncatewords:30|safe }}
							</div> {% endcomment %}
						</div>
					{% endfor %}
				{% else %}
					<p>{% trans "No news available at the moment." %}</p>
				{% endif %}
			</div>
			<div class="news__right">
					{% for news in more_news %}
						<div class="news__item-small">
							<div class="news__img news__img-small">
								<a href="{% url 'news:detail' slug=news.slug %}">
									<img 
										src="{% if news.image %}{{ news.image_preview.url }}{% else %}{% static 'img/noPhoto.jpg' %}{% endif %}" 
										alt="{{ news.title }}" 
										loading="lazy">
								</a>
							</div>
							<div class="news__name">
								<div class="news__date">{{ news.date|date:"d.m.Y" }}</div>
								<a href="{% url 'news:detail' slug=news.slug %}">{{ news.title }}</a>
							</div>
						</div>
					{% endfor %}
			</div>
		</div>
	</div>
</section>







<section class="partners" id="partners">
	<div class="container">
		<div class="partners__wrapper">
			{% comment %} <h4 class="title partners__title">{% trans "Partners" %} </h4> {% endcomment %}
			<div class="partners__top">
				<ul class="partners__menu">
					{% for type in partnership_types %}
						<li class="partners__item {% if forloop.first %}active{% endif %}" 
							data-type="{{ type.id }}">
							<span>{{ type.name }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>

			<div class="partners__bottom swiper">
				<div class="partners__list swiper-wrapper">
					{% for partner in partnership_types.0.partners.all %}
						<a class="partners__list-item swiper-slide" href="{{ partner.link }}" target="_blank">
							
							<img 
								src="{{ partner.logo.url }}" 
								alt="{{ partner.name }}" 
								class="partners__img
									{% if partner.level %}
										partners__img--{{ partner.level.slug|lower }}
									{% endif %}"
							>

							<div class="partners__name">{{ partner.name }}</div>

						</a>
					{% endfor %}
				</div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>

		</div>
	</div>
</section>


{% comment %} <section class="speakers">
	<div class="container">
		<div class="speakers__wrapper">
			<div class="speakers__item">
				<div class="speakers__img"><img src="" alt=""></div>
				<div class="speakers__name"></div>
				<div class="speakers__position"></div>
			</div>
		</div>
	</div>
</section> {% endcomment %}


{% if user.is_authenticated %}
<div id="profile-popup" class="popup-overlay">
	<div class="popup-content">
		<button id="close-popup" class="popup-close">&times;</button>
		<h2>Заполните профиль</h2>
		<p>Чтобы учавствовать в форуме, пожалуйста, заполните информацию о себе.</p>
		<a href="{% url 'accounts:profile' %}" class="button">Перейти к профилю</a>
	</div>
</div>
{% endif %}



{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'core/js/popup.js' %}"></script>
<script src="{% static 'core/js/counter.js' %}"></script>
<script src="{% static 'core/js/investment.js' %}"></script>
<script src="{% static 'core/js/sectors.js' %}"></script>
<script src="{% static 'core/js/index.js' %}"></script>




<script>
document.addEventListener('DOMContentLoaded', function () {
	const delegatesSwiper = new Swiper('.delegates__slider', {
		slidesPerView: 5,
		spaceBetween: 30,
		loop: true,

		navigation: {
			nextEl: '.delegates-next',
			prevEl: '.delegates-prev',
		},

		breakpoints: {
			1200: { slidesPerView: 7 },
			992:  { slidesPerView: 4 },
			768:  { slidesPerView: 3 },
			480:  { slidesPerView: 2 },
			320:  { slidesPerView: 2 },
		}
	});

    const menuItems = document.querySelectorAll('.partners__item');
    const sliderEl = document.querySelector('.partners__bottom'); // ❗ КОНТЕЙНЕР
    const wrapperEl = sliderEl.querySelector('.partners__list');

    const allPartners = [
        {% for type in partnership_types %}
        {
            typeId: {{ type.id }},
            partners: [
                {% for partner in type.partners.all %}
                {
                    name: "{{ partner.name|escapejs }}",
                    logo: "{{ partner.logo.url|default:'' }}",
					level: "{% if partner.level %}{{ partner.level.slug }}{% endif %}"
                },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    // === ИНИЦИАЛИЗАЦИЯ SWIPER ===
    const swiper = new Swiper(sliderEl, {
        slidesPerView: 5,
        spaceBetween: 20,

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        breakpoints: {
            1200: { slidesPerView: 5 },
            992:  { slidesPerView: 4 },
            768:  { slidesPerView: 3 },
            480:  { slidesPerView: 2 },
			320: { slidesPerView: 1 },
        },

        watchOverflow: true,
        observer: true,
        observeParents: true,
    });

    // === ТАБЫ ===
    menuItems.forEach(item => {
        item.addEventListener('click', () => {
            menuItems.forEach(i => i.classList.remove('active'));
            item.classList.add('active');

            const typeId = item.dataset.type;
            const typePartners = allPartners.find(t => t.typeId == typeId)?.partners || [];

            // очистка
            swiper.removeAllSlides();

            // новые слайды
            swiper.appendSlide(
                typePartners.map(p => `
                    <div class="swiper-slide partners__list-item">
                        <img src="${p.logo}" alt="${p.name}" class="partners__img ${p.level ? 'partners__img--' + p.level : ''}">
                        <div class="partners__name">${p.name}</div>
						
                    </div>
                `)
            );

            swiper.slideTo(0);
            swiper.update();
        });
    });

});
</script>



{% endblock extra_js %}

